.app {
  background-color: #fafafa;
}

.app__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__Signup {
  display: flex;
  flex-direction: column;
}

.app__Signup > Button:hover {
  background-color: #007bff;
  color: white;
}

.app__Signup > Button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 30px;
}

.app__loginContainer > Button {
  color: #007bff;
  margin: 10px;
}

.app__loginContainer > Button:hover {
  background-color: #007bff;
  color: white;
  
}

.app__imageUpload{
  text-align: center;
  margin-bottom: 20px;
}

.app__imageUpload > Button{
  color: #007bff;
  margin: 10px;
}


.app__imageUpload > Button:hover{
  background-color: #007bff;
  color: white;
}

@media screen and (max-width: 470px){
  .makeStyles-paper-1{
    width: 300px;
    left: 40%;
  }
}